version: "3.9"

services:
  api:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis

  socket:
    build:
      context: .
      dockerfile: realtime/Dockerfile
    ports:
      - "4000:4000"
    depends_on:
      - redis

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: purplemerit
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"
